* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: #EBE7E7;
}

/* Paso 18:
    Dale a tu selector #galeria img el valor 8px en su propiedad margin-top
    y 0 4px en su propiedad padding.
*/

#galeria img {
    width: 25%;
    height: 300px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
}

.encabezado {
    text-align: center;
    padding: 32px;
    background-color: #E0DDDD;
}

#galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}